h1 {
	font-family: Arial Regular, sans-serif;
	text-transform: uppercase;
	margin: 130px;
	font-size: 36px;}
 
p {
	font-family: Arial Regular, sans-serif;
	font-size: 18px;
	margin-top: 30px;}

img {
	margin-top: 20px;
}	