body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}

h2 {
  font-weight: 100;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 15px;
}
.image {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
}
.image-one {
  background: url(../img/1.jpg) center no-repeat;
  background-size: cover;
}
.image-one:hover {
opacity: 0.5;
}
.image-two {
  background: url(../img/2.jpg) center no-repeat;
  background-size: cover;
}
.image-two:hover {
opacity: 0.5;
}
.image-three {
  background: url(../img/3.jpg) center no-repeat;
  background-size: cover;
}
.image-three:hover {
opacity: 0.5;
}
.image-four {
  background: url(../img/4.jpg) center no-repeat;
  background-size: cover;
}
.image-four:hover {
opacity: 0.5;
}

.button-one {
  border: none;
  font-weight: 700;
  font-size: 14px;
 color: white;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);
 box-shadow: 0 -3px rgb(53,167,110) inset;
 transition: 0.2s;
}
.button-one:hover {
  color: rgb(64,199,129);
  background: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);

}
.button-two {
  display: inline-block;
 color: white;
 padding: .5em 2em;
 border: none;
 border-width: 2px 0;
 border-style: solid none;
 border-color: #FDBE33 #000 #D77206;
 border-radius: 6px;
 background: linear-gradient(#F3AE0F, #E38916) #E38916;
 transition: 0.2s;
}

.button-two:hover {
  font-weight: 600;
  color: #FDBE33 ;
  background: white;
  border-width: 0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);

}